/* ------------------- 
        CREDITS
 ------------------- */
.img_cert {
    border: 4px solid black;
    margin-top: 225px;
    margin-left: 20px;
    width: 905px;
    transition: transform 0.3s ease-in-out;
}

.img_cert:hover {
    transform: scale(1.02);
}

.content {
    margin-top: -550px;
    margin-left: 1000px;
    margin-right: 40px;
}

.text-justify {
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    color: #7D0302;
}
