/* ------------------- 
        RESETS
 ------------------- */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #D8D5D0;
    font-family: 'Montserrat', sans-serif;
}



/* ------------------- 
    NAVIGATION BAR
 ------------------- */
 header {
    position: fixed;
    top: 0; 
    width: 100%;
    font-size: 32px;
    background-color: #FEEDE8;
    z-index: 1;
}

.main-content {
    padding-top: 200px;
    margin-top: 100px; 
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    flex: 1;
    text-align: center;
}

nav ul li a {
    display: block;
    padding: 50px;
    color: #7D0302;
    text-decoration: none;
    transition: all 0.5s ease;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 4px solid black;
    border-top: 4px solid #FEEDE8;
}


nav ul li.active a {
    color: black;
    background-color: #D8D5D0;
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-bottom: 4px solid #D8D5D0;
    border-top: 4px solid black;
}

nav ul li:not(.active) a:hover {
    color: #FFFFFF;
    background-color: #85674B;
    border-left: 1px solid #3D3A38;
    border-top: 4px solid #85674B;
}

nav ul li:not(.active):first-child a:hover,
nav ul li:not(.active):nth-child(2) a:hover,
nav ul li:not(.active):nth-child(3) a:hover,
nav ul li:not(.active):nth-child(4) a:hover,
nav ul li:not(.active):last-child a:hover {
    color: #FFFFFF;
    background-color: #85674B;
    border-top: 4px solid #85674B;
}



/* ------------------- 
        FOOTER
 ------------------- */
 footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #FEEDE8;
    border-top: 4px solid black;
    padding: 10px;
    z-index: 2;
    margin-top: 10px;
}

.footer-content {
    color: #7D0302;
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-title, .quick-links {
    font-size: 32px;
}

.contact-info, .footer-link {
    text-decoration: none;
    color: #7D0302;
}

.contact-title {
    margin-left: 75px;
    margin-right: 20px;
}

.contact-info {
    margin-right: 100px; 
    margin-left: -100px; 
}

.quick-links {
    margin-left: 20px;
    margin-right: 20px;
}

.footer-link {
    margin-right: 100px;
    margin-left: -100px;
}

.footer-link:hover {
    transition: all 0.3s ease;
    color: black;
    cursor: pointer;
}



/* ------------------- 
      SOME DESIGNS
 ------------------- */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #FEEDE8;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb {
    background: #424547;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
