/* ------------------- 
        REPORTS
 ------------------- */
 .main {
    position: relative;
    padding-top: 250px; 
}

.table-section {
    position: absolute;
    top: 200px;
    left: 50%;
    bottom: 90px;
    transform: translateX(-50%);
    width: 100%;
    z-index: 3; 
    overflow-y: auto; 
    max-height: calc(100vh - 250px); 
}

.table-container {
    width: 100%;
    overflow-x: auto;
    padding: 10px;
}

.custom-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 15px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.custom-table td {
    border: 1px solid black; 
    padding: 15px;
    color: black;
    font-size: 18px;
    border-radius: 5px;
}

thead th {
    border: 1px solid black;
    padding: 15px;
    background-color: #85674B;
    color: black;
    font-size: 24px;
    border-radius: 36px;
}

tbody tr {
    background-color: #928374; 
}

tbody tr:nth-child(even) {
    background-color: #928374;
}

tbody td {
    padding: 15px;
    color: black;
    font-size: 18px;
}

tbody td:hover {
    color: rgb(110, 0, 0);
}

.dropdown {
    position: relative;
}

.dropdown label {
    cursor: pointer;
    display: block;
    padding: 10px;
    color: white;
    font-size: 1.2em;
    font-variant: small-caps;
}

.dropdown label::after {
    float: right;
    right: 10%;
    content: "+";
}

.dropdown .slide {
    clear: both;
    width: 100%;
    height: 0px;
    overflow: hidden;
    text-align: center;
    transition: height .4s ease;
}

.dropdown .slide li {
    padding: 10px;
}

.dropdown input {
    position: absolute;
    opacity: 0;
    height: 0px;
}

.dropdown input:checked + .slide {
    height: 120px;
}
